* {
  box-sizing: border-box;
}
body {
  background-color: pink;
  /* background-color: white; */
  /* length:1150px; */
  /* width:1200px; */
  margin: auto;
  display: flex;
  flex-direction: column;
}
header {
  width:1000px;
  length: 100px;
}

.container {
  display: flex;
}

.drake-gameintro {
  display: flex;
  justify-content: center;
  float: right;
  width: 650px;
  height: 200px
}

h1  {
  display: center;
  color: black;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  font-size: large
  width: 400px;
  length: 100px;

}

h2 {
  color: black;
  font-weight: bold;
  font-family: sans-serif;
}

.board-game-container {
  display: flex;
  margin-top: 10px;
  width: 1200px;
  flex-wrap: wrap;
  border: 5px solid pink;
  background-color: pink;
}

/* .board-grid {
  display: flex;
  justify-content: center;
  /* border: 5px solid black; */
  /* background-color: white; */
  /* width: 450px;
  height: 450px; */
  /* flex-wrap: wrap; */


.square {
  display: flex;
  border: 1px solid black;
  height: 130px;
  width: 130px;
  background-color: white;
}

.drake-player1 {
  /* background-color: red; */
  background-image: url('../Images/drake-player1test.png');
  background-repeat:no-repeat;
}
.drake-player2 {
  background-color: #00ffc5;
  /* background-image: url('../Images/drake-player2.png');
  background-repeat: no-repeat; */
}

.ladder-test {
  /* background-color: yellow; */
  background-image: url('../Images/dancingdrake3.gif');
  background-size: contain;
}

.snake-test {
  background-image: url('../Images/sbakeg.gif');
  background-size: contain;
}

.dice-roll-container {
  width: 500px;
  height: 700px;
  border: 5px solid black;
  margin-top: 20px;
}

@keyframes diceAnimation {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
.dice {
  animation-duration: 2s;
  animation-name: diceAnimation;
  border: 5px solid black;
  padding-top: 5px;
  margin-top: 10px;
  font-family: sans-serif;:
  font-weight: bold;
  height: 150px;
  width: 150px;
}
.dieRollDrake {
height: 150px;
width: 300px;
}

.six {
  width: 300px;
  background-image: url('../Images/dancingdrake2.gif');
  background-size: cover;
  height: 200px;
}

#die1 {
  height: 500px;
  width: 500px;
}
